@{
    ViewData["Title"] = "Página Inicial";
}
<div class="mainEspecialidades container text-center">
    <div class="row">
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/arabe 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/Brasileira 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/Francesa 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/Indiana 1.png" /></div>
    </div>
    <div class="row">
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/Japonesa 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/merxicana 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/Sobremesas 1.png" /></div>
        <div class="categorias col"><img class="categorias img-fluid" src="~/img/especialidade/vegetariana 1.png" /></div>
    </div>
</div>