/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #160000;
    min-height: 100vh;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #F6D136;
    transition: all 1.06s;
}

    a:hover {
        text-decoration: none;
        color: #F6D136;
        font-size: 16.5px;
        transform: scale(1.03);
    }


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Categorias*/
h1 {
    color: #F6D136;
}

.categorias img {
    width: 100%;
    border-radius: 15px;
    transition: all 1.01s;
}

    .categorias img:hover {
        transform: scale(1.02);
        cursor: pointer;
        border: solid 4px #F6D136;
    }

.mainEspecialidades, .linha1 {
    margin-top: 2em;
}

div .row {
    background-image: none;
    margin-top: 5vh;
}

/*Área de login*/

.formLogin input {
    background-color: #343A40;
    border: solid 2px#F6D136;
    background-image: #343A40;
}

<<<<<<< Updated upstream
.formLogin input:focus {
    background-color: #343A40;
    background-image: #343A40;
    color: #ffffff;
}

=======
.formLogin input:focus {
    background-color: #343A40;
    background-image: #343A40;
    color: #ffffff;
}

> > > > > > > Stashed changes

h1, h4 {
    color: #F6D136;
}

#BTN {
    background-color: #F6D136;
    color: #160000;
}

    #BTN:hover {
        background-color: #343A40;
        border: solid 2px #F6D136;
        color: #F6D136;
        <<<<<<< Updated upstream
    }

=======
}
> > > > > > > Stashed changes
img .mascote{
    position:absolute;
    width: 225px;
    height: 378px;
    right:0px;
}